#
# Sawtooth Lake -- REST API Configuration
#

# The port and host for the api to run on
bind = ["{{ ansible_host }}:8008"]

# The url to connect to a running Validator
connect = "tcp://localhost:4004"

# Seconds to wait for a validator response
#   timeout = 300

# The host and port for Open TSDB database used for metrics
opentsdb_url = "{{ influx_url }}"

# The name of the database used for storing metrics
opentsdb_db = "{{ influx_database }}"

opentsdb_username = "{{ lookup('env','INFLUX_USERNAME') }}"

opentsdb_password = "{{ lookup('env','INFLUX_PASSWORD') }}"
